html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease opacity;
}
a:active,
a:hover {
  outline-width: 0;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
html {
  font: 15px "Helvetica Neue", Helvetica, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--color-dark);
  color: var(--color-dark);
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.33;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8rem;
  letter-spacing: normal;
  text-align: justify;
  color: var(--color-dark);
}
p:last-of-type {
  margin-bottom: 0;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}

p *:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 660px) {
  html {
    font-size: 15px;
  }
}

/* Custom styles below  */

:root {
  --color-dark: #0d0d0d;
  --color-light: #f2f1f0;
  --spacing: 1.2rem;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-small: 0.66667rem;
}

.content-wrapper {
  height: 100vh;
  padding: var(--spacing);
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .content-wrapper {
    height: auto;
    min-height: 100vh;
    padding: var(--spacing) var(--spacing-small) var(--spacing-small);
  }
}

.content-wrapper.dark-theme {
  background-color: var(--color-dark);
}

@media only screen and (max-width: 660px) {
  .content-wrapper.dark-theme {
    bottom: 0;
    left: 0;
    height: auto;
    min-height: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
  }
}

.content-wrapper.light-theme {
  background-color: var(--color-light);
}

header {
  position: absolute;
}

nav {
  display: flex;
  width: 100%;
}

.nav-link--first {
  padding-right: var(--spacing);
}

nav a:hover {
  opacity: 1 !important;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: 960px;
  max-width: 1750px;
}

@media only screen and (max-width: 1024px) {
  main {
    height: auto;
  }
}

.left {
  align-self: flex-end;
  padding-right: var(--spacing);
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  .left {
    align-items: flex-end;
    display: flex;
    height: 31vh;
    margin-bottom: 1rem;
    padding-right: 0;
    width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .right {
    min-height: calc(69vh - 40px);
    width: 100%;
  }
}

.date {
  align-self: flex-end;
  line-height: normal;
  margin-top: auto;
}

@media only screen and (max-width: 1024px) {
  .date {
    padding-bottom: var(--spacing-small);
  }
}

.toggle {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1;
}

.toggle--left {
  cursor: url("/static/cursor-left.svg") 0 0, e-resize;
  cursor: -webkit-image-set(url("/static/cursor-left.svg") 1x);
  left: 0;
}

.toggle--right {
  cursor: url("/static/cursor-right.svg") 0 0, e-resize;
  cursor: -webkit-image-set(url("/static/cursor-right.svg") 1x) 0 0, e-resize;
  right: 0;
}

.img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.img-container {
  margin: auto 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: opacity;
}

button {
  background-color: transparent;
  border: none;
  color: var(--color-dark);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.4;
  padding: 0;
  transition: 0.2s ease opacity;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}

.contact-btn-wrapper {
  margin-left: auto;
  position: relative;
}

.copied-msg {
  background-color: var(--color-dark);
  color: #ffffff;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.33;
  opacity: 0;
  padding: 4px 0 6px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 0.35s opacity ease;
  top: -3rem;
  width: 200px;
}

.copied-msg.active {
  opacity: 1;
}

.project-title {
  color: #fff;
  font-weight: 500;
  margin-left: auto;
}

.preloader {
  align-items: flex-end;
  background-color: var(--color-dark);
  bottom: 0;
  color: var(--color-dark);
  display: flex;
  font-weight: 500;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: var(--spacing);
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.33s ease;
  z-index: 2;
}

.preloader.show {
  color: #fff;
  transition: color 0.5s ease;
}

.preloader.hide {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  .preloader {
    padding: var(--spacing) var(--spacing-small) var(--spacing);
  }
}

/* Flickity (carousel) styles below */

.flickity-enabled,
.flickity-viewport,
.flickity-slider {
  height: calc(100vh - var(--spacing-double));
  max-height: 960px;
  width: 100%;
}

@media only screen and (max-width: 660px) {
  .right .img-wrapper .flickity-enabled,
  .right .img-wrapper .flickity-viewport,
  .right .img-wrapper .flickity-slider {
    height: 50vh;
  }
}

button.flickity-button.flickity-prev-next-button {
  -webkit-transform: none;
  background-color: transparent;
  border-radius: 0;
  height: 100%;
  opacity: 0;
  top: 0;
  transform: none;
  width: 50%;
}

@media only screen and (max-width: 660px) {
  button.flickity-button.flickity-prev-next-button {
    display: none;
    pointer-events: none;
  }
}

button.flickity-button.flickity-prev-next-button.previous {
  cursor: url("/static/cursor-left.svg") 0 0, e-resize;
  cursor: -webkit-image-set(url("/static/cursor-left.svg") 1x);
}

button.flickity-button.flickity-prev-next-button.next {
  cursor: url("/static/cursor-right.svg") 0 0, e-resize;
  cursor: -webkit-image-set(url("/static/cursor-right.svg") 1x) 0 0, e-resize;
}

/* admin page styles */

.content-wrapper.light-theme.admin {
  background-color: var(--color-light);
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  height: auto;
  width: 100vw;
}

.content-wrapper.light-theme.admin section {
  margin: auto;
  max-width: 80ch;
  padding: 2ch;
}

.admin main {
  display: unset;
  flex-wrap: unset;
  height: unset;
  max-height: unset;
  max-width: unset;
}

.admin header {
  position: relative;
}

.admin button,
.admin input[type="submit"] {
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.75rem;
  opacity: 1;
  padding: 0.25rem 0.75rem;
}

.admin button:focus,
.admin input[type="submit"] {
  outline: none;
}

.admin input[type="text"],
.admin input[type="number"] {
  border-radius: 0.25rem;
  border: 1px solid darkgray;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  width: 100%;
}

.btn--primary {
  border: 2px solid lightseagreen;
  color: lightseagreen;
  font-size: 0.75rem;
}

.btn--primary:hover {
  background-color: lightseagreen;
  color: #f7f7f7;
}
